@model HorecaMebel.Models.CubeSeats.EditCubeSeatViewModel

@using HorecaMebel.Resources

@{
    IEnumerable<string> frameOptions = Model.CubeSeat.WoodenFrame.Split(',');

    IEnumerable<string> seatOptions = Model.CubeSeat.Seat.Split(',');

    IEnumerable<string> legsOption = Model.CubeSeat.Legs.Split(',');

    IEnumerable<string> skinOptions = Model.CubeSeat.Skin.Split(',');

    IEnumerable<string> skinColourOptions = Model.CubeSeat.SkinColour.Split(',');
}

<link href="~/Content/touchTouch.css" rel="stylesheet" />
<script src="~/Scripts/jquery.ui.totop.js"></script>
<script src="~/Scripts/touchTouch.jquery.js"></script>

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <div class="p11">

                    <article class="grid_12 alpha">
                        <div class="inner-block">
                            <figure class="page2-img1">
                                <a class="page4-img1 magnifier" href="@Model.CubeSeat.ImagePath">
                                    <img class="page4-img1" src="@Model.CubeSeat.ImagePath" alt="">
                                    <span></span>
                                </a>
                            </figure>
                        </div>
                    </article>

                    <article class="grid_12 omega">
                        <div>
                            <article class="grid_12 alpha">
                                <div>
                                    <div class="floatleft"><h1 style="margin-top:0px !important">@Model.CubeSeat.Name.ToUpper()</h1></div>

                                    @if (!Model.CubeSeat.NewPrice.HasValue)
                                    {
                                        <div class="floatright">
                                            <h1 style="margin-top:0px !important">@Model.CubeSeat.Price € *</h1>
                                            <small>@Resources.PriceDescriptionText</small><br />
                                            <small style="margin-top:0px !important">@Model.CubeSeat.ProductionTime</small>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="floatright">
                                            <h1 style="margin-top:0px !important; text-decoration:line-through">@Model.CubeSeat.Price € *</h1>

                                            <h1 style="color:red; margin-top:0px !important">@Resources.NewPrice: @Model.CubeSeat.NewPrice € *</h1>
                                            <small>@Resources.PriceDescriptionText</small><br />
                                            <small style="margin-top:0px !important">@Model.CubeSeat.ProductionTime</small>
                                        </div>
                                    }          
                                </div>

                                <div class="clearfix"></div>

                                <h6 style="padding-bottom:5px !important;margin-top:25px !important">@Resources.SkinOptions * </h6>
                                <div style="height:35px">
                                    <select class="w100 h100" data-selector="SkinElement">
                                        <option selected="selected" value="-1">@Resources.ComboBoxDelimiter @Resources.PleaseSelect @Resources.ComboBoxDelimiter</option>
                                        @foreach (string element in skinColourOptions)
                                        {
                                            <option value="@element">@element</option>
                                        }
                                    </select>

                                    <small data-selector="skinOptionsError"></small>

                                </div>

                                <h6 style="padding-bottom:5px !important;margin-top:25px !important">@Resources.Count *</h6>
                                <div style="height:35px">
                                    <select class="w100 h100" data-selector="Count">
                                        <option selected="selected" value="-1">@Resources.ComboBoxDelimiter @Resources.PleaseSelect @Resources.ComboBoxDelimiter</option>
                                        @for (int i = Model.MinAmountToOrderCubeSeat; i <= 600; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>

                                    <small data-selector="countError"></small>
                                </div>   

                            </article>
                        </div>

                        <div class="clearfix"></div>
                        <div style="margin-top:15px">
                            <div class="search-buttonCustom" style="cursor:pointer" data-selector="BtnAddInBasket">@Resources.AddInBasket</div>
                            <div class="clearfix"></div>
                            <span class="time1Custom" style="margin-top:10px;" data-selector="AddElementInBasket"></span>
                        </div>

                        <div class="clearfix"></div>

                        <div style="margin-top:80px">

                            @if (Model.CubeSeatImages != null && Model.CubeSeatImages.Count > 0)
                            {
                                foreach (var image in Model.CubeSeatImages)
                                {
                                    <div class="page2-img1 floatleft" style="width:123px;height:150px; margin-top:5px;margin-right:5px;">
                                        <a class="page4-img1 magnifier" href="@image">
                                            <img class="page4-img1" src="@image" alt="" style="width:123px;height:150px; margin-top:5px;" />
                                            <span></span>
                                        </a>
                                    </div>
                                }
                            }
                        </div>

                    </article>
                </div>
            </article>

            <article class="grid_24">
                @if (!String.IsNullOrEmpty(Model.CubeSeat.Description))
                {
                    <div><span class="time1Custom">@Resources.Description</span><p class="marginleft20 time1Custom">@Html.Raw(Model.CubeSeat.Description)</p></div>
                }

                <br />

                <div><span class="time1Custom">@Resources.Width: @Model.CubeSeat.Width cm</span></div>

                <div><span class="time1Custom">@Resources.Height: @Model.CubeSeat.Height cm</span></div>

                <div><span class="time1Custom">@Resources.Depth: @Model.CubeSeat.Depth cm</span></div>

                <br />

                <div><span class="time1Custom">@Resources.FrameOptions: @Model.CubeSeat.WoodenFrame</span></div>

                <div><span class="time1Custom">@Resources.SeatOptions: @Model.CubeSeat.Seat</span></div>                

                <div><span class="time1Custom">@Resources.SkinOptions: @Model.CubeSeat.Skin</span></div>

                <div><span class="time1Custom">@Resources.LegOptions: @Model.CubeSeat.Legs</span></div>


            </article>
        </div>
    </div>
</section>

<script src="~/Scripts/Project/CubeSeats/CubeSeatEdit.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
        $(window).load(function () {
            jQuery('.magnifier').touchTouch();
        });

        CubeSeat.Init('@Model.CubeSeat.id','@Html.Raw(Resources.ProvideCorrectValue)');
    });
</script>